html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  background: #ffe800;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}
#timer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
#timer {
  flex: 1;
  width: 100%;
  line-height: 100%;
  background: #000;
  color: #0f0;
  text-align: center;
  font-weight: 900;
  font-family: 'Impact', 'Arial Black', sans-serif;
  border: 8px solid #000;
  box-shadow: 12px 12px 0 #ff006e, 24px 24px 0 #0ff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
}
#progress-bar-container {
  width: 100%;
  height: 40px;
  background: #000;
  border: 6px solid #000;
  border-top: 0;
  box-sizing: content-box;
  position: relative;
  padding: 0;
  flex-shrink: 0;
}
#progress-bar {
  height: 40px;
  width: 0%;
  background: linear-gradient(90deg, #ff006e 0%, #0f0 50%, #0ff 100%);
  transition: width 0.1s linear;
  box-shadow: 0 0 20px rgba(255,0,110,0.8);
}
.btn {
  border: 5px solid #000 !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  font-family: 'Arial Black', sans-serif !important;
  box-shadow: 6px 6px 0 #000 !important;
  transition: all 0.1s !important;
}
.btn:hover {
  transform: translate(2px, 2px) !important;
  box-shadow: 4px 4px 0 #000 !important;
}
.btn:active {
  transform: translate(6px, 6px) !important;
  box-shadow: 0 0 0 #000 !important;
}
.btn-primary {
  background: #0ff !important;
  color: #000 !important;
}
.btn-success {
  background: #0f0 !important;
  color: #000 !important;
}
.btn-warning {
  background: #ffe800 !important;
  color: #000 !important;
}
.btn-info {
  background: #ff006e !important;
  color: #fff !important;
}
.btn-default {
  background: #fff !important;
  color: #000 !important;
}
#hide,
#toggle,
#reset,
#min10,
#min60,
#add10,
#add60,
#def10,
#def30,
#def60,
#def180,
#def300,
#def600,
#def900,
#def1800 {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -210px;
  width: 170px;
  height: 44px;
  line-height: 30px;
}
#reset {
  margin-left: 50px;
}
#hide {
  margin-left: -30px;
  width: 70px;
}
#min10,
#min60,
#add10,
#add60 {
  width: 50px;
}
#def10,
#def30,
#def60,
#def180,
#def300,
#def600,
#def900,
#def1800,
#range-today,
#range-week,
#range-month,
#range-year {
  bottom: 5px;
  top: auto;
  width: 70px;
}
#min10 {
  margin-left: -270px;
}
#min60 {
  margin-left: -330px;
}
#add10 {
  margin-left: 230px;
}
#add60 {
  margin-left: 290px;
}
#def10 {
  margin-left: -285px;
}
#def30 {
  margin-left: -205px;
}
#def60 {
  margin-left: -125px;
}
#def180 {
  margin-left: -45px;
}
#def300 {
  margin-left: 35px;
}
#def600 {
  margin-left: 115px;
}
#def900 {
  margin-left: 195px;
}
#def1800 {
  margin-left: 275px;
}
#range-today {
  margin-left: 355px;
}
#range-week {
  margin-left: 435px;
}
#range-month {
  margin-left: 515px;
}
#range-year {
  margin-left: 595px;
}
#audio {
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 10;
}
#xxx {
  position: absolute;
  top: 10px;
  left: 10px;
}
